@import 'normalize.css';
@import './fonts';
@import './tailwind';

body {
  margin: 0;
  font-family: 'Noto Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}
